.w-100{
display: grid;
align-items: center;
justify-items: center;
}
.input-number-label{
  font-size: large;
}
#inputNumber6{
 width: 200px;
 height: 50px;
}
.input-numbers{
  width: 100px;
  height: 50px;
  border-radius: 40px;
}
.input-number{
  padding: 20px;
}
