.avatar{
  border-radius: 5px;
  height: 60px;
  width: 70px;
}
.container-ciclo{
display: grid;
padding: 10px;
}
.user{
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding:5px;
}
.id{
  width: 40px;
}
p{
  margin-right: 5px;
}
h3{
  margin-left: 5px;
  margin-right: 5px;
}
.borderBlue{
  border: 1px solid blue;
   }
   .borderRed{
    border: 1px solid red;
     }
     .borderYellow{
      border: 1px solid yellow;
       }
