.card-container{
  height: 100%;
  width: 100%;
  background-color: rgb(189, 151, 224);
  }
  .container-title{
    display: grid;
    justify-items: center;
  }
.card-element{
  display: grid;
  align-items: center;
  justify-items: center;
  border: transparent;
  margin: 20px;
}
