
.title{
  text-align: center;
}

.card-element{
  width: 300px;
  height: 480px;
  background-color: rgb(216, 212, 231);

}
.card-body{
  display: grid;
  width: 250px;
  height: 50px;
  margin:10px;
  align-items:  center;
  justify-items: center;
  background-color: rgba(131, 100, 160, 0.205);
  border: 1px solid rgb(119, 45, 119);
}
