<div class="column">
  <div class=" card card-container">
    <div class="container-title">
    <h5 class="title">Dettagli Cliente</h5>
  </div>
    <div class="card-element" *ngIf="user">
      <div class="card">
      <div class="card-body">
        <h5 class="badge bg-secondary  rounded-pill"> Nr.Ordine:{{user.order}} </h5>
        <h5 class="card-title">{{ user.nome}} {{user.cognome}} </h5>
        <p class="card-text">{{ user.citta | uppercase}} </p>
         <p class="card-text">{{user.via }}</p>
      </div>
      <small class="card-footer">
        <span>{{ user.orario | date: 'dd/MM/yyyy hh:mm' }}</span>
      </small>
    </div>
    </div>
  </div>
  </div>
