<form #f="ngForm" class="layout">
  <div class="select-wrapper">
    <label for="defaultSelect">Etichetta</label>
    <select id="defaultSelect" required >
      <option selected="" value="">Scegli un'opzione</option>
      <option value="Value 1"*ngFor="let beer of beers" (click)="select(beer)">{{beer.name}} </option>
    </select>
  </div>
  <div class="select-wrapper">
    <label for="defaultSelect">Etichetta</label>
    <select id="defaultSelect" required>
      <option selected="" value="">Scegli un'opzione</option>
      <option  name ="small" value="Value 1" ngModel (click)="addSmall(f)">small</option>
      <option name ="medium" value="Value 1"ngModel (click)="addMedium(f)">medium</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary"(click)="submit(f)">Sign in</button>
</form>
