<div class="container-root">
  <h6 class="lista">Lista Ordini</h6>
<div class="container-layout"*ngIf="orders.length>0;">
  <h6 class="ordine">{{titles[0].titolo}}</h6>
<div class=" container-component">
  <div class=" card-body card-bodyU">
    <h5 class="card-title">{{ users[0].nome}} {{users[0].cognome}}  <span class="badge bg-secondary  rounded-pill">{{users[0].order}} </span></h5>
  </div>
  <div class="card-body card-bodyO">
    <h5 class="badge bg-secondary  rounded-pill">Ordine Nr.{{ orders[0].ordineN }} <span>{{ orders[0].costo}}</span> </h5>
    <p class="card-text"><span>{{orders[0].panino }},{{orders[0].dolce }},{{orders[0].bevande }} </span></p>

</div>
</div>
</div>

<div class="container-layout"*ngIf="orders.length>0;">
  <h6 class="ordine">{{titles[1].titolo}}</h6>
<div class=" container-component">
  <div class=" card-body card-bodyU">
    <h5 class="card-title">{{ users[1].nome}} {{users[1].cognome}}  <span class="badge bg-secondary  rounded-pill">{{users[1].order}} </span></h5>
  </div>
  <div class="card-body card-bodyO">
    <h5 class="badge bg-secondary  rounded-pill">Ordine Nr.{{ orders[1].ordineN }}  <span>{{ orders[1].costo}}</span> </h5>
    <p class="card-text"><span>{{orders[1].panino }},{{orders[1].dolce }},{{orders[1].bevande }} </span></p>
</div>
</div>
</div>

<div class="container-layout"*ngIf="orders.length>0;">
  <h6 class="ordine">{{titles[2].titolo}}</h6>
<div class=" container-component">
  <div class=" card-body card-bodyU">
    <h5 class="card-title">{{ users[2].nome}} {{users[2].cognome}}  <span class="badge bg-secondary  rounded-pill">{{users[2].order}} </span></h5>
  </div>
  <div class="card-body card-bodyO">
    <h5 class="badge bg-secondary  rounded-pill"> Ordine Nr.{{ orders[2].ordineN }}   <span>{{ orders[2].costo}}</span></h5>
    <p class="card-text"><span>{{orders[2].panino }},{{orders[2].dolce }},{{orders[2].bevande }} </span></p>
</div>
</div>
</div>












</div>


