<ng-container *ngIf="(users$ | async) as users; else loading">
  <div class="layout">
    <h5 class="interfacciaU">Interfaccia Utente</h5>
    <div class="users-container">
    <esercizi-user-list
    *ngIf="users.length > 0 ; else noUser"
          [users]="users"
          (selectedUser)="selectUser($event)">
    </esercizi-user-list>
    </div>
    </div>
</ng-container>


<ng-template #loading>
  <h1>Loading...</h1>
</ng-template>

<ng-template #noUser>
  <p>Non sono presenti Utenti</p>
</ng-template>
